---
layout: blank
---
    <div class="hero">
      <div class="page-body">
        <img src="/img/cyclejs_logo.svg" alt="Cycle.js logo" class="hero-logo"/>
        <h1>Cycle.js</h1>
        <h2>A fully reactive JavaScript framework for Human-Computer Interaction</h2>
        <h3><a href="/getting-started.html">Get started</a></h3>
      </div>
    </div>
    <div class="page-body">
      <div class="features">
        {% capture homepage %}{% include homepage-content.md %}{% endcapture %}
        {{ homepage | markdownify }}
        <h2><a href="/getting-started.html">Read the docs</a></h2>
      </div>

      {% include footer.html %}
    </div>
