---
layout: blank
---
    <div class="hero">
      <div class="page-body">
        <div class="hero-title">
          <img src="/img/cyclejs_logo.svg" alt="Cycle.js logo" class="hero-logo"/>
          <h1>Cycle.js</h1>
        </div>
        <h2>A fully reactive JavaScript framework for Human-Computer Interaction</h2>
        <h3><a href="/getting-started.html">Get started</a></h3>
        <iframe class="hero-gh-star" src="https://ghbtns.com/github-btn.html?user=cyclejs&repo=cycle-core&type=star&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
      </div>
    </div>
    <div class="page-body">
      <div class="features">
        {% capture homepage %}{% include homepage-content.md %}{% endcapture %}
        {{ homepage | markdownify }}
        <h2 class="homepage-bottom-cta"><a href="/getting-started.html">Read the docs</a></h2>
      </div>

      {% include footer.html %}
      <script>
        ((window.gitter = {}).chat = {}).options = {
          room: 'cyclejs/cycle-core'
        };
      </script>
      <script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script></script>
    </div>
