img.cycle-home-logo
    width: 5em
    display: block
    margin-bottom: $small-space

.cycle-home-link
    font-family: $header-font
    font-weight: bold

.side-menu
    position: fixed
    top: $normal-space
    width: $side-menu-width
    height: 100%
    overflow: hidden
    font-size: 3vh
    a
        +anchor_style($black)

.paginator
    a
        +box_link()

article
    min-height: 500px
    max-width: $max-article-width
    margin-left: calc(#{$side-menu-width} + #{$normal-space})
    overflow-x: auto
    th
        border-bottom-width: 2px
    th, td
        border-color: $gray-lighter
    header
        text-align: center
    > div
        margin-bottom: 2em
    .paginator
        display: flex
        justify-content: space-between

@media only screen and (max-width: 680px)
    .side-menu
        position: relative
        width: inherit
        height: inherit
        top: inherit
        font-size: 150%
        padding-bottom: $normal-space
        border-bottom: 2px solid $gray-lighter
        margin-bottom: $normal-space
        ul > li
            padding-top: 0.5em
    article
        margin-left: 0

@media only screen and (min-height: 800px)
    .side-menu
        font-size: 24px