.hero
    background-color: $black
    color: $white
    height: 80vh
    min-height: 600px
    padding: 0 4em
    img.hero-logo
        width: 7em
        top: 35px
        position: relative
    h1
        font-weight: bold
        display: inline-block
        font-size: 4em
        margin-left: 0.5em
    h2
        margin-bottom: $normal-space
    a
        font-family: "Source Sans Pro", "Calibri", "Helvetica", sans-serif
        font-weight: 400
        +box_link($lime-light, $black, $lime-light)
