.hero
    background-color: $black
    color: $white
    margin: 0 calc(0px - #{$normal-space})
    padding: 0 $normal-space 1px
    .hero-title
        img.hero-logo
            width: 7em
            vertical-align: bottom
        h1
            display: inline-block
            margin: 0 0 0 0.5em
            font-weight: bold
            font-size: 4em
    h2
        margin-top: $normal-space
    h3
        margin-top: $large-space
        margin-bottom: $large-space
        text-align: center
        display: block
        a
            +box_link($lime-light, $black, $lime-light)
            letter-spacing: 0
            display: inline-block

.homepage-bottom-cta
    margin: $normal-space 0

.features
    ul
        margin-bottom: 0
    h1, h2, h3
        text-align: center
        a
            display: inline-block
            +box_link()
            letter-spacing: 0

@media only screen and (max-width: 680px)
    .hero
        .page-body
            padding-top: $normal-space
        .hero-title
            img.hero-logo
                width: 3em
            h1
                font-size: 2em
                top: 0.75em
        h2
            font-size: 1.2em
