=contrast($background)
    $light: lightness($background) > 50%

    background: $background
    color: if($light, $black, $white)

=article_background($background, $anchor)
    +contrast($background)
    $light: lightness($background) > 50%

    tr:hover
        background-color: if($light, darken($background, 7%), lighten($background, 7%))
    th
        border-bottom-width: 2px
    th, td
        border-color: if($light, darken($background, 14%), lighten($background, 14%))
    header p
        color: if($light, darken($background, 60%), lighten($background, 60%))
    footer a
        border-color: if($light, $black, $white)
        border-width: 2px
        &:hover
            background-color: if($light, $black, $white)
            color: if($light, $white, $black)
