<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="{{ site.encoding }}">
    {% if page.author %}<meta name="author" content="{{ page.author }}">{% endif %}
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <title>{% if page.title %} {{ page.title }} › {% endif %}{{ site.title }}</title>
    <link rel="canonical" href="{{ page.url | prepend: site.baseurl | prepend: site.url}}">
    <link href="{{ "/main.css" | prepend: site.baseurl }}" rel="stylesheet" type="text/css">
    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,200italic,300italic,400italic,600italic,700italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Merriweather:400,700' rel='stylesheet' type='text/css'>
    <link href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css' rel='stylesheet' type='text/css'>
  </head>
  <body>
{{ content }}
  </body>
</html>
