---
layout: blank
---
    <div class="wide-page-body">
      <nav class="side-menu">
        <a href="/" class="cycle-home-link">
          <img class="cycle-home-logo" src="/img/cyclejs_logo.svg" alt="Cycle.js logo"/>
        </a>
        <h3>
          <a href="/" class="cycle-home-link">Cycle.js</a>
        </h3>
        <ul>
          {% for chapter in site.tags.chapters %}
          <li>{% if page.id == chapter.id %}<strong><a href="{{ chapter.url }}">{{ chapter.title }}</a></strong>{% else %}<a href="{{ chapter.url }}">{{ chapter.title }}{% endif %}</a></li>
          {% endfor %}
          <li><a class="github-link" href="https://github.com/cyclejs" target="_blank"><i class="fa fa-github"></i>
          </a></li>
        </ul>
      </nav>
      <article id="content">
        <header>
          <h2>{{ page.title }}</h2>
        </header>
        <div>
{{ content }}
        </div>
        <div class="mobile-hidden">
          <div class="paginator">
            <span>{% if page.next %}<a href="{{ page.next.url }}"><i class="fa fa-long-arrow-left"></i></a>{% endif %}</span>
            <span>{% if page.previous %}<a href="{{ page.previous.url }}"><i class="fa fa-long-arrow-right"></i></a>{% endif %}</span>
          </div>
        </div>
        <div class="mobile-shown">
          <div class="paginator mobile-shown">
            <span>{% if page.next %}<a href="{{ page.next.url }}#content"><i class="fa fa-long-arrow-left"></i></a>{% endif %}</span>
            <span>{% if page.previous %}<a href="{{ page.previous.url }}#content"><i class="fa fa-long-arrow-right"></i></a>{% endif %}</span>
          </div>
        </div>
{% include footer.html %}
      </article>
    </div>
