---
layout: blank
---
    <div class="page-body">
      <nav class="side-menu">
        <a href="/" class="cycle-home-link">
          <img class="cycle-home-logo" src="/img/cyclejs_logo.svg" alt="Cycle.js logo"/>
        </a>
        <h3>
          <a href="/" class="cycle-home-link">Cycle.js</a>
        </h3>
        <ul>
          {% assign articles = site.tags.top-articles | sort: 'sort-order' %}
          {% for page in articles %}
          <li><a href="{{ page.url }}">{{ page.title }}</a></li>
          {% endfor %}
          <li><a href="https://github.com/staltz/cycle" target="_blank"><i class="fa fa-github"></i>
          </a></li>
        </ul>
      </nav>
      <article>
        <header>
          <h2>{{ page.title }}</h2>
        </header>
        <div>
{{ content }}
        </div>
{% include footer.html %}
      </article>
    </div>
